<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insufficient Funds</title>
    <link rel="stylesheet" href="/css/gamestoday.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <header>
        <!-- here is the navigation bar where we will have home
        user page, games on today, bet outcomes, and user stats-->
        <nav id="navbar">
            <ul>
              <li><a href="../">HOME</a></li>
              <!-- <li><a href="./view">USER PAGE</a></li> -->
              <li><a href="../login">GAMES ON TODAY</a></li>
              <!-- <li><a href="bet_outcomes.html">BET OUTCOMES</a></li> -->
              <li><a href="../../users/view">USER STATS</a></li>
              <li><a href="../users/view">CURRENT BETS</a></li>
            </ul>
        </nav>
    </header>
    
    You dont have enough credits for your desired bet amount. Please enter an 
    appropriate value and try again.
</body>
</html>