<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>Document</title>
    
</head>
<body>
    <nav id="navbar">
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="user_page.html">USER PAGE</a></li>
          <li><a href="gamestoday.html">GAMES ON TODAY</a></li>
          <li><a href="bet_outcomes.html">BET OUTCOMES</a></li>
          <li><a href="user_stats.html">USER STATS</a></li>
          <li><a href="currentBets.html">CURRENT BETS</a></li>
        </ul>
      </nav>

    Login succesful!<br>
    <a href="/logout">logout</a> <br>
    
    <br>
    <form action="/logout">
        <input id="submitBTN" class="btn" type="submit" value="Logout">
    </form>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safebet</title>
    <!-- <script src="/js/loginScript.js"></script> -->
    <script src="/js/gamestodayScript.js"></script>
    <link rel="stylesheet" href="/css/gamestoday.css">
    <link rel="stylesheet" href="/css/navbar.css">

</head>
<body>
    <header>
        <!-- here is the navigation bar where we will have home
        user page, games on today, bet outcomes, and user stats-->
        <nav id="navbar">
            <ul>
              <li><a href="/">HOME</a></li>
              <!-- <li><a href="./view">USER PAGE</a></li> -->
              <li><a href="/login">GAMES ON TODAY</a></li>
              <!-- <li><a href="bet_outcomes.html">BET OUTCOMES</a></li> -->
              <li><a href="users/view">USER STATS</a></li>
              <li><a href="currentBets/view">CURRENT BETS</a></li>
            </ul>
        </nav>
    </header>

    <!-- get the odds information-->
    <script>
        window.onload = function() {
            // Use Promise.all to handle mutiple fetch requests (link below)
            // https://rapidapi.com/guides/fetch-data-multiple-apis-with-fetch
            fetch('/nflodds')
            .then(response => response.json())
            .then(data => {
                
                let counter = 0;
                let output = '';
                data.forEach(game => {
                    let oddsText = "";
                    let bookmakerName = game.bookmakers[0].title;

                    let betButtonA = "betbutton" + counter;
                    counter++;
                    let betButtonB = "betbutton" + counter;
                    counter++;

                    let h2hMarket = game.bookmakers[0].markets.find(market => market.key === "h2h");
                    if (h2hMarket) {
                        h2hMarket.outcomes.forEach(outcome => {
                            oddsText += ` ${outcome.price}, `;
                        });
                        // Removing the trailing comma and space
                        oddsText = oddsText.slice(0, -2);
                    }               

                    output += `
                        <div class="game">
                            <div class="team-info">
                                <div class="team-name">${game.home_team}</div>
                                <div class="team-odds">${oddsText.split(",")[0]}</div>
                                <form action="/currentBets/placeBet" method="post">
                                    <fieldset>
                                    
                                        <p>
                                            <label for = "betAmount"> Bet Amount </label>
                                            <input type="text" id="betAmount" name="betAmount" class="usrInput">
                                        </p>
                                        
                                        <input type="hidden" id="data-team" name="data-team" value="${game.home_team}">
                                        <input type="hidden" id="data-odds" name="data-odds" value="${oddsText.split(",")[0]}">
                                        <input type="hidden" id="data-against" name="data-against" value="${game.away_team}">
                                        
                                        <input id="${betButtonA}" class="btn" type="submit" >
                                    </fieldset>
                                </form>
                            </div>
                            <div class="versus">vs</div>
                            <div class="team-info">
                                <div class="team-name">${game.away_team}</div>
                                <div class="team-odds">${oddsText.split(",")[1]}</div>
                                <form action="/currentBets/placeBet" method="post">
                                    <fieldset>
                                        
                                        
                                        <p>
                                            <label for = "betAmount"> Bet Amount </label>
                                            <input type="text" id="betAmount" name="betAmount" class="usrInput">
                                        </p>
                                        
                                        <input type="hidden" id="data-team" name="data-team" value="${game.away_team}">
                                        <input type="hidden" id="data-odds" name="data-odds" value="${oddsText.split(",")[0]}">
                                        <input type="hidden" id="data-against" name="data-against" value="${game.home_team}">
                                        
                                        <input id="${betButtonB}" class="btn" type="submit" >
                                    </fieldset>
                                </form>
                               
                            </div>
                        </div>`;
                });
                document.getElementById('gamesContainer').innerHTML = output;

            });

            fetch('/nflscores')
            .then(response => response.json())
            .then(data => {

                let outputScores = '';
                data.forEach(game => {
                    let homeScore = 0;
                    let awayScore = 0;
        
                    if (game.scores) {
                        // Find the home team score
                        const homeTeamScore = game.scores.find(score => score.name === game.home_team);
                        if (homeTeamScore) {
                            homeScore = homeTeamScore.score || 0;
                        }

                        // Find the away team score
                        const awayTeamScore = game.scores.find(score => score.name === game.away_team);
                        if (awayTeamScore) {
                            awayScore = awayTeamScore.score || 0;
                        }
                    }
                    // let gameStatus = game.status === true ? "Completed" : "Ongoing";
                    // need to check for game.completed was checking status
                    let gameStatus;

                    if (game.completed === true) {
                        gameStatus = "Completed";
                    } 
                    else {
                        gameStatus = "Ongoing";
                    }


                    outputScores += `
                    <div class="game">
                        <div class="team-info">
                            <div class="team-name">${game.home_team}</div>
                            <div class="team-score">${homeScore}</div>
                        </div>
                        <div class="versus">vs</div>
                        <div class="team-info">
                            <div class="team-name">${game.away_team}</div>
                            <div class="team-score">${awayScore}</div>
                        </div>
                        <div class="game-status">
                            <div class="status-info"> <br> Game status:  ${gameStatus}</div>
                        </div>

                    </div>`;
        });
        document.getElementById('scoresContainer').innerHTML = outputScores; 

    });
    };

    </script>
</head>
<body>

    <h2>Today's NFL Games</h2>
    <div id="gamesContainer"> </div>
    <br>
    <h2>Scores for the associated NFL Games</h2>
    <div id="scoresContainer"> </div>
    
    

</body>
</html>
