<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/currentBets.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
</head>
<body>
    <header>
        <!-- here is the navigation bar where we will have home
        user page, games on today, bet outcomes, and user stats-->
        <nav id="navbar">
            <ul>
              <li><a href="../index.html">HOME</a></li>
              <!-- <li><a href="./view">USER PAGE</a></li> -->
              <li><a href="/login">GAMES ON TODAY</a></li>
              <!-- <li><a href="bet_outcomes.html">BET OUTCOMES</a></li> -->
              <li><a href="./view">USER STATS</a></li>
              <li><a href="../currentBets/view">CURRENT BETS</a></li>
            </ul>
        </nav>
    </header>

    <main class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1>USERS</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Balance</th>
                                <th>User Type</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="user:${us}">
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.password}"></td>
                                <td th:text="${user.balance}"></td>
                                <div th:switch="${user.name}">
                                    <td th:case="'Johnn'">This is John</td>
                                    <td th:case="'Anne'">Anne is here</td> 
                                    <td th:case="*">General User</td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </main>
</body>
</html>