#gamesContainer, #scoresContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;  /
}
h2 {
    text-align: center;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(33% - 20px);  
    padding: 10px;
    border: 1px solid #e0e0e0;  
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);  
}

.team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-name {
    font-size: 16px;  
}

.team-odds {
    font-size: 14px;  
    color: #333;     
}

.versus {
    margin: 0 15px;
    font-size: 16px;
}

/* New styles for game status */
.game-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
    /* Made changes to how the current scores are displayed need to edit
    and make better/cleaner May have to make a new div name for scores container*/
    width: 100%;
    text-align: center;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
