.h1 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;

}

table, th, td {
    border: 1px solid black;
}


table {
    border-collapse: collapse;
    text-align: center;
}

