.h1 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #444; /* 调整标题颜色 */
}

table, th, td {
    border: 1px solid #ddd; /* 更轻的边框颜色 */
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%; /* 宽度调整 */
}
