<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- have username here, email, in the future some more relevant information like join date maybe. -->
    <!-- here have current balance -->
    <!-- Here have the current bets of that user, those that are ready to be redeemed have a button that can be pressed. -->

    <header>
        Your winnings have been redeemed!
        (if you had any to be redeemed)
    </header>
</body>
</html>
